:root {
    --cor-branco-primaria: #FFFFFF;
    --cor-cinza-secundaria: #C0C0C0;
    --cor-azul-background: #00030C;
    --botao-azul: #167BF7;
    --fonte-principal: 'inter';
    --cor-roxo-quarta: #8a2be2;
    --botao-azul-efeito: #3c92fa;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-azul-background);
    color: var(--cor-branco-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    

.principal{
background-image: url("img/Background.png");
background-repeat: no-repeat;
background-size: contain;
align-items: center;
text-align: center;

}
.container{
    height: 100vh; 
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.container__titulo{
    font-size: 28px;
    font-weight: 700px;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-branco-primaria );
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    
}
.container__botao:hover{
    color: var(--cor-azul-background);
    background-color: var(--botao-azul-efeito);
}
.botao__secundario{
    background-color: transparent;
    border: solid 1px var(--cor-branco-primaria);
    text-decoration: none;
}
.container__aviso{
    font-size: 12px;
    color: var(--cor-cinza-secundaria);
}

.container__img{
    margin: 1em 0 2em 0;
}
.container__secundario{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;

}

.container__desricao{
    margin: 0 6em;
  
}
.container__secundario__img{
    width: 80%
    
}
.container__secundario__titulo{
font-size: 48px;
font-weight: 700px;
color: var(--cor-branco-primaria);
margin-bottom: 0.1em;
}
.container__secundario__texto{
color: var(--cor-cinza-secundaria);
font-size: 16px;
font-weight: 400px;
}
.container__secundario__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-branco-primaria );
    display: block;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
}
.container__secundario__botao:hover{
    color: var(--cor-azul-background);
    background-color: var(--botao-azul-efeito);
}
}
.terceiro{
  text-align: center;

}
.terceiro__titulo{
    font-size: 48px;
    font-weight: 700;
}
.terceiro__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 0;
}
.img__terceiro{
    width: 339px;
}
.rodape{
    text-align: center;
    margin: 10em 3em 6em ;
}
.lista__link{
    margin: 4em 0 2em 0 ;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 16px;
}
.lista__link__a{
    text-decoration: none;
    color: var(--cor-branco-primaria);
}
.lista__link__a:hover{
    color: var(--botao-azul);
}
.lista__link__a:active{
    color: var(--cor-roxo-quarta);
}
.terceiro__texto{
    margin: 1em 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-cinza-secundaria);
}